body {
    background-color: #33a9ff;
}

.avator img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid;
    background: #f5f5f5;
}

.output {
    background: #f5f5f5;
    width: 575px;
    max-height: 500px;
    overflow: scroll;
}